In [37]:
quarterlyData = [[390, 345, 379], #London
                [250, 270, 300],  #Paris
                [460, 480, 450],  #New York
                [470, 510, 360]]  #Beijing

#Calculates total sales of a city per quarter
def cityTotal(row):
    total = 0
    for i in quarterlyData[row]:
        total = total + i
    return total

#Calculates total sales per month 
def monthlyTotal(column):
    total = 0
    for i in range(len(quarterlyData)):
        total = quarterlyData[i][column] + total
    return total

#Calculates total sales per quarter
def quarterlyTotal():
    total = 0
    for i in range(len(quarterlyData)):
        for j in range(len(quarterlyData[i])):
            total = quarterlyData[i][j] + total
    return total
                        
#Calculates average sales of a city per quarter
def average(row):
    average = cityTotal(row) / len(quarterlyData[row])
    return average

#Calculates average monthly sales
def monthlyAverage(row):
    average = monthlyTotal(row) / len(quarterlyData)
    return average

#Displays quarterly report for each city
print("Quarterly Sales Report")
print()
print(f"London    L3:    ${average(0)}   ${cityTotal(0)}")
print(f"Paris     P2:    ${average(1)}   ${cityTotal(1)}")
print(f"New York  N6:    ${average(2)}   ${cityTotal(2)}")
print(f"Beijing   B8:    ${average(3)}   ${cityTotal(3)}")
print()
print(f"April18     :    ${monthlyAverage(0)}   ${monthlyTotal(0)}")
print(f"May18       :    ${monthlyAverage(1)}   ${monthlyTotal(1)}")
print(f"June18      :    ${monthlyAverage(2)}   ${monthlyTotal(2)}")
print()
print(f"Total: ${quarterlyTotal()}")

Quarterly Sales Report

London    L3:    $371.3333333333333   $1114
Paris     P2:    $273.3333333333333   $820
New York  N6:    $463.3333333333333   $1390
Beijing   B8:    $446.6666666666667   $1340

April18     :    $392.5   $1570
May18       :    $401.25   $1605
June18      :    $372.25   $1489

Total: $4664